.menu-page {
  padding: 30px;
  font-family: 'Arial', sans-serif;
  background-color: #8B0000;
  color: #FFD700;
  text-align: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.menu-item {
  background-color: #fff0e1; 
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
  text-align: center;
  width: calc(25% - 15px); 
  padding: 12px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.menu-name {
  font-size: 16px; 
  font-weight: bold;
  color: #5A2E2E;
  margin: 8px 0;
}

.menu-description {
  font-size: 12px;
  color: #444;
  margin-bottom: 8px;
}

.menu-price {
  font-size: 16px; 
  color: #B22222; 
  font-weight: 700;
}


@media screen and (max-width: 1150px) {
  .menu-items {
    justify-content: center;
  }

  .menu-item {
    flex-basis: calc(33.33% - 15px); 
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
    flex-basis: calc(100% - 20px); 
  }

  .menu-name {
    font-size: 14px;
  }

  .menu-price {
    font-size: 14px;
  }
}
